.ourPro {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.ourPro-text {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px; 
}

.ourPro-text p {
    margin: 0;
}

.ourPro-text::before,
.ourPro-text::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #a6ce70;
    transform: translateY(-50%);
}

.ourPro-text::before {
    left: -50px; 
}

.ourPro-text::after {
    right: -50px; 
}

.proBtn {
    display: flex; 
    justify-content: center;
    width: 100%;
}

.ourProBtn {
    background-color: #f9f9f9;
    color: #a6ce70;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px dashed #a6ce70; 
}

.ourProBtn:hover {
    background-color: #a6ce70; 
    color: #f9f9f9;
}


/* 
/* .productImage:hover {
    transition: background-color 0.3s;
    background-color: #a00000;
} */

.rating{
    color: gold;
    font-size: 18px;
    margin-bottom: 25px;
}

.productName{
    color: #333;
    margin-top: 20px;
}

.productPrice{
    color: #a6ce70;
    font-size: 1.5rem;
    font-weight: bold;
}

.productImage {
    position: relative;
    overflow: hidden; 
}

.icons {
    position: absolute;
    left: -50px; 
    bottom: 179px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.icons i {
    background: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

.icons i:hover {
    background: #a6ce70;
    color: white;
}

.productImage:hover .icons {
    left: 10px; 
    opacity: 1;
}

