.ourPro {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.ourPro-text {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 40px; 
}

.ourPro-text p {
    margin: 0;
}

.ourPro-text::before,
.ourPro-text::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #a6ce70;
    transform: translateY(-50%);
}

.ourPro-text::before {
    left: -50px; 
}

.ourPro-text::after {
    right: -50px; 
}

.proBtn {
    display: flex; 
    justify-content: center;
    width: 100%;
}

.ourProBtn {
    background-color: #f9f9f9;
    color: #a6ce70;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 10px; 
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px dashed #a6ce70; 
}

.ourProBtn:hover {
    background-color: #a6ce70; 
    color: #f9f9f9;
}


.rating{
    color: gold;
    font-size: 18px;
    margin-bottom: 25px;
}

.productName{
    color: #333;
    margin-top: 20px;
}

.productPrice{
    color: #a6ce70;
    font-size: 1.5rem;
    font-weight: bold;
}

.productImage {
    position: relative;
    overflow: hidden; 
}

.icons {
    position: absolute;
    left: -50px; 
    bottom: 179px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.icons i {
    background: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
}

.icons i:hover {
    background: #a6ce70;
    color: white;
}

.productImage:hover .icons {
    left: 10px; 
    opacity: 1;
}

/* 4 dene bitki sekilin css kodlari */
.fourPlantPic {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 70px;
    gap: 30px;
}

.plantHe{
    font-size: 17px;
    padding-top: 40px;
    padding-left: 60px;
    margin: 0;
}

.plants1 {
    width: 690px;
    height: 300;
}

.plants2{
    width: 350px;
    height: 300px;
}


.plantTit{
    padding-left: 60px;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}


.shopbutton{
    display: flex;
    margin-top: 20px;
    position: relative;
    left: 55px;
    padding: 12px 25px;
    background-color: #a6ce70;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.shopbutton:hover {
    background-color: #333;
    color: #ffffff;
}

.plantTit2{
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}


.shopbutton2{
    display: flex;
    margin-top: 20px;
    position: relative;
    left: 106px;
    padding: 12px 25px;
    background-color: #a6ce70;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
}

.shopbutton2:hover {
    background-color: #333;
    color: #ffffff;
}

.plantHe2{
    font-size: 17px;
    padding-top: 60px;
    margin: 0;
    text-align: center;
}


/* new productun ve altindaki sekili css kodlari  */

.newPrdct4Plnt {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.newProductTitle {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px; 
}

.newProductTitle p {
    margin: 0;
}

.newProductTitle::before,
.newProductTitle::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #a6ce70;
    transform: translateY(-50%);
}

.newProductTitle::before {
    left: -50px; 
}

.newProductTitle::after {
    right: -50px; 
}

.explaniation {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-bottom: 40px;
    width: 700px;
}

/* clients ve 3lu slider  */

.clients {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    max-width: 1450px;
    margin: 0 auto;
    padding: 40px 20px;
    background: url('https://htmldemo.net/pronia/pronia/assets/images/testimonial/bg/1-1-1820x443.jpg') no-repeat center center/cover;
    height: 380px;
}

.whtclntsay {
    font-size: 2.4rem;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 10px; 
}

.whtclntsay p {
    margin: 0;
}

.whtclntsay::before,
.whtclntsay::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40px;
    height: 2px;
    background-color: #a6ce70;
    transform: translateY(-50%);
}

.whtclntsay::before {
    left: -50px; 
}

.whtclntsay::after {
    right: -50px; 
}